@inject Blazored.LocalStorage.ILocalStorageService localStorage
@inject Microsoft.Extensions.Localization.IStringLocalizer<Local> Loc
<Row>
    <Column>
        <Card Margin="Margin.Is2.OnY">
            <CardHeader>
                <CardTitle>@Loc["Settings"]</CardTitle>
            </CardHeader>
            <CardBody>
                <Label>@Loc["Api Key"]</Label>
                <TextEdit @bind-Text="@CurrentApiKey" Placeholder="@Loc["Api Key"]"></TextEdit>
            </CardBody>
            @if (EditItem != null)
            {
                <CardBody>
                    <Label>@Loc["Wallet Id"]</Label>
                    <TextEdit @bind-Text="@EditItem.Id" Placeholder="@Loc["Wallet Id"]"></TextEdit>
                    <Label>@Loc["Name"]</Label>
                    <TextEdit @bind-Text="@EditItem.Name" Placeholder="@Loc["Name"]"></TextEdit>
                    <Label>@Loc["Owner"]</Label>
                    <TextEdit @bind-Text="@EditItem.Owner" Placeholder="@Loc["Owner"]"></TextEdit>
                </CardBody>
            }
        </Card>
    </Column>
</Row>
<button class="btn btn-primary" @onclick="SaveAsync">@Loc["Save"]</button>
<button class="btn btn-secondary" @onclick="(() => BlazoredModal.CloseAsync())">@Loc["Cancel"]</button>